<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cursus.css') }}">
    <title>Cursus</title>
</head>

<body>
    <div class="navbar">{% include 'nav.html' %}</div>

    <div style="overflow:hidden; position:absolute; left:0; top:0; width:50px; height:25px;">
        <div style="margin-top:-290px;">
        <object width="420" height="315">
          <param name="movie" value="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2"></param>
          <param name="allowFullScreen" value="true"></param>
          <param name="allowscriptaccess" value="always"></param>
          <embed src="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
        </div>
      </div>
      
      <p id="start">Il y a bien longtemps, dans une galaxie lointaine, très lointaine&hellip;</p>
      
      <h1>HAYEZ Rémy<sub>Mon cursus</sub></h1>

      <div id="titles">
        <div id="titlecontent">
          <p class="center">Master IA</p>
          <p class="center">2024 - 2026</p>
          <p>
              Approfondissement du langage Python.</br>
      
              Initiation au traitement et nettoyage de Dataframes avec Pandas.</br>
      
              Apprentissage des Pipelines ETL, ELT.</br>
      
              Réalisation de graphiques avec Matplotlib et Seaborn.</br>
      
              Apprentissage de Docker.</br>
      
              Apprentissage de MongoDB.</br>
      
              Scraping de données avec Scrapy.</br>
          </p>
          </br>
          <p class="center">Licence professionnel web & mobile</p>
          <p class="center">2023 2024</p>
          <p>
              Développement de plugin Wordpress.</br>
      
              Réalisation d'une application android de géolocalisation d'appareil mobile (en groupe).</br>
      
              Réalisation d'une application web de gestion de fichier.</br>
      
              Initiation à la méthode SCRUM.</br>
      
              Réalisation d'un projet avec le framework DJango</br>
      
              Réalisation d'un projet avec le framework Symfony</br>
      
              Réalisation d'un projet avec le framework ReactJs</br>
      
              Réalisation d'un projet avec le framework NextJs</br>
          </p>
          </br>
          <p class="center">Seconde année de BTS SIO</p>
          <p class="center">2022 - 2023</p>
          <p>
              Apprendre à gérer les données d'une base de données.</br>
      
              Répondre aux incidents et aux demandes d’assistance et d’évolution.</br>
      
              Travailler en mode projet.</br>
      
              Mettre à disposition des utilisateurs un service informatique.</br>
      
              Organiser mon développement professionnel.</br>
      
              Protéger les données à caractère personnel.</br>
      
              Sécuriser les équipements et les usages des utilisateurs.</br>
      
              Assurer la cybersécurité d'une solution applicative et de son développement.</br>
          </p>
          </br>
          <p class="center">Première année de BTS SIO</p>
          <p class="center">2021 - 2022</p>
          <p>
              Appréhender le patrimoine informatique.</br>
      
              Les bases du système d'exploitation, gestion des droits, scripts ... .</br>
      
              Prendre en charge une demande d'assistance.</br>
      
              Gérer le stockage de données (SGBD).</br>
      
              Établir / utiliser une documentation.</br>
      
              Développer sa présence en ligne.</br>
      
              Les bases de la programmation (client lourd, web).</br>
      
              Les bases du réseau (routage, matériel ...).</br>
      
              Mettre en place une veille informationnelle.</br>
      
              Mettre en place des sauvegardes, versionner des fichiers.</br>
      
              Maintenance évolutive et corrective d’une application (client lourd, web).</br>
          </p>
          </br>
          <p class="center">Baccalauréat professionnel MEI</^p>
          <p class="center">2017 - 2020</p>
          <p>
              Maintenance des équipements industriels.</br>
      
              Installation et réglage des machines.</br>
      
              Diagnostic des pannes et réparation.</br>
      
              Suivi des procédures de sécurité.</br>
      
              Utilisation des logiciels de gestion de maintenance.</br>
      
              Lecture et interprétation des plans techniques.</br>
      
              Travail en équipe et communication avec les autres services.</br>
          </p>
          </div>
      </div>
</body>
</html>