<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='minecraft.css') }}">
        <script src="{{ url_for('static', filename='minecraft.js') }}"></script>
        <title>Menu principal</title>
    </head>
    <body>
        <body onload="displayQuote(); setTimeout(myFunction, 20000);">
            <center>  
              <img src="https://www.logolynx.com/images/logolynx/fc/fc7e54569ba9b77284102311c35902ea.png" width="100%" >
              <table>  
                <tr>  
                  <a href="/create" class="big">
                Créer un utilisateur
                  </a>
              </a>
                </tr>
                <tr>  
                    <a href="/update" class="big">
                      Modifier un utilisateur
                    </a>
                  </tr>
                <tr>  
                  <a href="/read_all" class="big">
                    Lire les utilisateurs
                  </a>
                </tr>
                <tr>  
                    <a href="/read_one" class="big">
                      Lire un utilisateur
                    </a>
                  </tr>
                  <tr>  
                    <a href="/read_one_cv" class="big">
                      Lire les CVs
                    </a>
                  </tr>
                <br><br>
              </table>  
              <div class="subtitle" id="quote">Notch Notch Notch Notch Notch Notch!</div>
            </center>
            </body>  
        </div>
    </body>
</html>
